{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>footer design</title>
        <meta charset="utf-8">
        <meta name="viewport"= content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>COMPANIES OFFERS</h4>
                        <ul>
                            <li><a href="#">Infosys</a></li>
                            <li><a href="#">IBM</a></li>
                            <li><a href="#">IOPEX TECHNOLOGIES</a></li>
                            <li><a href="#">WIPRO</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>CONTACT</h4>
                        <ul>
                            <li><a href="#"> Email: gvpcew@gmail.com info@gvpcew.ac.in</a></li>
                            <li><a href="#"> Fax: +91-891-2526639</a></li>
                            <li><a href="#"> Telephone: +91-891-2739144 / 2719124 / 2719125 / 2719127</a></li>
                            <li><a href="#">Madhurawada, Visakhapatnam-530048, AP, India.</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>QUICK LINKS</h4>
                        <ul>
                            <li><a href="#">Regulation R16 R19 R20</a></li>
                            <li><a href="#">academic calender</a></li>
                            <li><a href="#">adimission</a></li>
                            <li><a href="#">audit reports</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>FOLLOW US</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>

                        </div>
                        
                    </div>
                </div>
            </div>

        </footer>
    </body>
</html>