*{
	margin:0;
	padding:0;
	scroll-behavior: smooth;	
}
body{
	
	min-height: 100vh;
}
#home{
	position: relative;
	background : url("download.jpg") no-repeat;
	width: 100%;
	height: 80vh;
	background-size: cover;
}
#home .row{
	margin-top: 10%;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	z-index: 10000;
	transition: 0.6s;
	justify-content: space-between;
	align-items: center;
	background-color: #01124D;
	height:10vh;
}
header .sticky{
	background-color: #01124D;
}
.gvpcewlogo{
	animation: zoom-in 1s ;
}
#mini_navbar{
	background-color: #fff;
	display: none;
	position: absolute;
	width:100vh;
	margin-top: 70px;
	padding-top: 20px;
	border-radius: 5px;
	
}
#mini_navbar ul li {
	animation: fade-down 1s;
}

#mini_navbar ul li a{
	color: #000;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
	animation: fontsize 1s;
}

#mini_navbar ul li a:hover{
	text-decoration: underline;
	color : darkorange;
}
#para-color{
	color:white;
	animation: fade-up 1s;
}
.para-color{
	color:white;
	
}

.navbar{
	position:fixed;
	z-index:999;
}
.navbar-style{
	text-transform:uppercase;
}
.nav{
	font-size:16px;
	display:inline-block;
}
.icon-bar{
	background:darkorange;
}
#icon-bar:hover{
	background-color: #fff;
}
ul li{
	padding:5px;
}
li a{
	color:#fd7e14;
	transition:0.6s;
}
h1{
	color:darkorange;
	font-family: "Jost", sans-serif;
}
#gayatri{
	color:white;
	font-family: "Times New Roman", Times, serif;
	font-size:40px;
	animation: fade-up 1s;
}

.getstarted{
	padding:15px 30px;
	background:darkorange;
	color:white;
	margin-top:50px;
	text-decoration: none;
	border-style:none;
	border-radius:10px;
	display:inline-block;
	animation: fade-up 1s;
}
.getstarted:hover{
	background:#CB5F06;
	text-decoration: none;
	color: #fff;
}
.container img{
	max-width:100%;
}
.container h1{
	color:darkorange;
	padding-bottom:20px;
	font-family: "Jost", sans-serif;
	
}
.imgslider{
	height: 100px;
}
#mini-info{
	background:#fd7e14;
	width:100%;
	height:25vh;
}
.mini-info{
	font-family: 'Montserrat', sans-serif;
	box-sizing:border-box;
}
.mini-info:nth-child(1){
	animation: fade-up 1s;
}
.mini-info:nth-child(2){
	animation: fade-up 2s;
}
.mini-info:nth-child(3){
	animation: fade-up 3s;
}
.mini-info:nth-child(4){
	animation: fade-up 4s;
}
.mini-info:nth-child(5){
	animation: fade-up 5s;
}
.mini-info h2{
	font-size:40px;
	border-color:black;
	font-weight:bold;
}
#scrollToTop{
	position:fixed;
	cursor: pointer;
	right:10px;
	bottom:10px;
	padding:15px;
	border-radius:50%;
	background:#fd7e14;
	color:white;
	outline:none;
	text-decoration:none;
	border:none;
	z-index: 100000;
}
#scrollToTop:hover{
	background-color: #CB5F06;
}
.my-col{
	border: 10px solid black;
}
#mock_test{
	animation: zoom-in 5s;
}
#apply_mock_test{
	background-color: darkorange;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 15px;
	border-radius: 5px;
}
#apply_mock_test:hover{
	background-color: #CB5F06;
}
#mocktest_section{
	background-color: #D0EEF9;
	margin-top: 50px;
	border-radius: 10px;
	margin-left: 30px;
}
#mockinterview_section{
	background-color: #F2FAFC;
	border-radius: 10px;
	width:45%;
}
/*#btn-back-to-top {
	position: fixed;
	display:block;
	overflow: hidden;
	bottom: 20px;
	background:darkorange;
	border:none;
	right: 20px;
	z-index: 100000;
	
}*/
/*Clients
.clients {
	padding-top: 20px;
  }
  
  .clients .swiper-slide img {
	opacity: 0.5;
	transition: 0.3s;
	filter: grayscale(100);
  }
  
  .clients .swiper-slide img:hover {
	filter: none;
	opacity: 1;
  }
  
  .clients .swiper-pagination {
	margin-top: 20px;
	position: relative;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	background-color: #ddd;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #ffc451;
  }*/

  #companies{
	background-color:#D9D9DA ;
  }
  .companies{
	background:#fff;
	width: 100%;
	height:100px;
	border-radius: 10px;
  }
  .companies-1{
	background: #fff;
	width: 100%;
	height:100px;
	border-radius: 10px;
  }
  .companies-2{
	background:#fff;
	width: 100%;
	height:100px;
	border-radius: 10px;
  }
  .companies-2 img{
	margin-top: 15px;
	margin-left: 10px;
  } 
  .companies-1 img{
	display: inline-block;
  }
  .companies img{
	margin-top: 30px;
	margin-left: 20px;
  }  
  .companies:hover{
	background-color: #F49B29;
	transition: 1s;
  }
  .companies-1:hover{
	background-color: #F49B29;
	transition: 1s;
  }
  .companies-2:hover{
	background-color: #F49B29;
	transition: 1s;
  }
  #companies h1 span{
	background-color: darkorange;
	color:white;
  }
  .carousel-inner{
	height:60vh;
  }
  .iconCarousel{
	margin-top: 30vh;
}
marquee span{
	font-size: 20px;
	color: blue;
}
footer{
	background-color: #D0EEF9;
}
footer i{
	tab-size: 3cm;
}
footer .row{
	margin-top: 30px;
}
footer a{
	color: inherit;
}
@keyframes fade-down {
	from{
		height: 0;
	}
	to{
		height: 38px;
	}
}
@keyframes fontsize {
	from{
		font-size: 5px;
	}
	to{
		font-size: 20px;
	}
}
@keyframes zoom-in {
	0%{
		transform: scale(0.5,0.5);
	}
	100%{
		transform: scale(1,1);
	}
	
}
@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(80px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
@media only screen and (max-width:1200px){
	.carousel-inner{
		height:450px;
		margin-bottom:30px;
	}
	.iconCarousel{
		margin-top: 225px;
	}
	.header{
		height:10vh;
	}
	.header .nav li a{
		font-size: 13px;
		padding: 8px;
		margin-top: 15px;
	}
	#mini-info{
		height:30vh;
	}
	.companies{
		width:50%;
	}
	.companies-1{
		width: 50%;
	}
	.companies-2{
		width: 50%;
	}
	.companies img{
		display: inline-block;
	}
	.companies-1 img{
		width:150px;
	}
	.companies-2 img{
		display: inline-block;
	}
	footer img{
		margin-left: 25%;
	}
	#mock-interview #mockinterview_section{
		margin-left: 20px;
	}
}
@media (max-width: 992px){
	.header{
		height: 10vh;
	}
	#home{
		height: 120vh;
	}
	#home .container .row h1{
		font-size:40px;
		margin-top: 10vh;
	}
	.getstarted{
		margin-top: -20px;
	}
	#home .gvpcewlogo{
		width:150px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 10vh;
	}
	header .navbar-header h1{
		margin-left:30px;
		position: absolute;
	}
	header .navbar-header button{
		display: block;
		margin-left: 90vh;
		margin-top: 20px;
	}
	header .nav{
		display: none;
	}
	.imgslider:nth-child(1){
		width:85%;
	}
	#mini-info{
		height:80vh;
	}
	.companies{
		width:50%;
		height: 125px;
	}
	.companies-1{
		width:50%;
		height: 140px;
	}
	.companies-2{
		width:50%;
		height: 125px;
	}
	.companies img{
		display: inline-block;
	}
	.companies-1 img{
		width:250px;
	}
	.companies-2 img{
		display: inline-block;
	}
	.carousel-inner{
		height:400px;
	}
	.iconCarousel{
		margin-top: 200px;
	}
	#mockinterview_section{
		width:90%;
		margin-top: 400px;
		margin-left: 30px;
		padding: 10px;
	}
	footer img{
		margin-left: 25%;
	}
	#mock-interview #mockinterview_section{
		margin-top: 10px;
		margin-left: 30px;
	}
	#mock-interview #img{
		margin-left: 25%;
	}
	
}
@media (max-width:736px){
	.header{
		height: 10vh;
	}
	#home{
		height: 110vh;
	}
	#home .container .row h1{
		font-size:40px;
		margin-top: 15px;
	}
	.getstarted{
		margin-top: -20px;
	}
	#home .gvpcewlogo{
		width:150px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 5vh;
	}
	header .navbar-header h1{
		margin-left:30px;
	}
	
	.imgslider:nth-child(1){
		width:85%;
	}
	#mini-info{
		height:90vh;
	}
	#mini_navbar{
		width:130vh;
	} 
	.companies{
		width:50%;
		height: 125px;
	}
	.companies-1{
		width:50%;
		height: 125px;
	}
	.companies-2{
		width:50%;
		height: 125px;
	}
	.companies img{
		display: inline-block;
	}
	.companies-1 img{
		display: inline-block;
	}
	.companies-2 img{
		display: inline-block;
	}
	.carousel-inner{
		height: 350px;
	}
	.iconCarousel{
		margin-top: 175px;
	}
	#mocktest_section{
		padding: 5px;
	}
	#mock-interview #mockinterview_section {
		margin-top: 400px;
		margin-left: 30px;
		padding: 10px;
	}
	#mock-interview #img{
		margin-left: 0;
	}
	footer img{
		margin-left: 25%;
	}

}
@media only screen and (max-width:576px){
	.header{
		height:10vh;
	}
	body{
		width: 100%;
	}
	#home{
		height:110vh;
	}
	.getstarted{
		margin-top: -20px;
	}
	#home .container .row h1{
		font-size:30px;
	}
	
	#home .gvpcewlogo{
		margin-top: 10vh;
		width:150px;
		margin-left:auto;
		margin-right:auto;
	}
	
	header .navbar-header h1{
		margin-left:30px;
	}
	
	#mini-info{
		height:90vh;
	}
	#companies{
		height:2600px;
	}
	.companies{
		width: 100%;
		height:300px;
		border: darkorange;
	}
	.companies-1{
		width: 100%;
		height:300px;
	}
	.companies-2{
		width: 100%;
		height:300px;
	}
	.companies img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	  } 
	.companies-1 img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	} 
	.companies-2 img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	} 
	.carousel-inner{
		height: 252px;
	}
	.iconCarousel{
		margin-top: 125px;
	}
	#youtube{
		width: 350px;
	}
	#mocktest_section{
		padding: 5px;
	}
	#mock-interview #mockinterview_section{
		width:90%;
		margin-top: 300px;
		margin-left: 30px;
		padding: 10px;
	}
	footer img{
		margin-left: 25%;
	}
		
}
@media only screen and (max-width:410px){
	.header{
		height:10vh;
	}
	body{
		width: 100vh;
	}
	#home{
		height:100vh;
	}
	#home .container .row h1{
		font-size:30px;
	}
	.getstarted{
		margin-top: -30px;
	}
	
	#home .gvpcewlogo{
		margin-top: 10vh;
		width:150px;
		margin-left:auto;
		margin-right:auto;
	}
	
	header .navbar-header h1{
		margin-left:30px;
	}
	
	#mini-info{
		height:90vh;
	}
	#companies{
		height:2600px;
	}
	.companies{
		width: 100%;
		height:300px;
		border: darkorange;
	}
	.companies-1{
		width: 100%;
		height:300px;
	}
	.companies-2{
		width: 100%;
		height:300px;
	}
	.companies img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	  } 
	.companies-1 img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	} 
	.companies-2 img{
		margin-top: 30%;
		margin-left: 20%;
		width:200px;
	} 
	.carousel-inner{
		height: 300px;
	}
	.iconCarousel{
		margin-top: 150px;
	}
	#mocktest_section{
		padding: 5px;
	}
	#mock-interview #mockinterview_section{
		width:90%;
		margin-top: 390px;
		margin-left: 30px;
		padding: 10px;
	}
	footer img{
		margin-left: 25%;
	}
		
}



